name: Lint

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-just:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v1
      - name: Check Justfile formatting
        run: just --unstable --fmt --check
