name: Lint

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_data: |
            extends: default
            rules:
              line-length: disable
              document-start: disable

  lint-just:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v1
      - name: Check Justfile formatting
        run: just --unstable --fmt --check
